/* Start Global Rules */
* {
	box-sizing: border-box !important;
	margin: 0px;
	padding: 0px;
}

*:focus {
	outline: none;	
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: "Maven Pro", sans-serif;
	background-color: var(--main-color);
	color: var(--second-color);
	min-height: 100vh;
	z-index: 2;
}

body > .page__loader {
	background-color: var(--main-color);
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 2;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: 0.7s ease-in-out opacity;
}

body > .page__loader > h1 {
	font-size: 2rem;
	letter-spacing: 5px;
	animation: pageLoaderAnimation ease-in-out 1s alternate 6;
}

@keyframes pageLoaderAnimation {
	from {
		opacity: 1;
	}

	to {
		opacity: 0;
	}
}

body .bg__img__container {
	background-position: top center;
	background-repeat: no-repeat;
	filter: brightness(0%);
	background-size: cover;
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	transition: 0.4s ease-in-out filter;
}

body .bg__1 {
	background-image: url(../images/bg-1.webp);
}

body .bg__2 {
	background-image: url(../images/bg-2.webp);
}

body .bg__3 {
	background-image: url(../images/bg-3.webp);
}

/*Start Vriables*/
:root {
	--main-color: #0E0E0E;
	--second-color: #F1F1F1;
	--third-color: #FAA7DA;
}

.container {
	padding: 0px 16px;
	margin: auto;
}

@media (max-width: 992px) {
	.container {
		padding: 0px 48px;
	}
}


/*Start Header*/

header {
	width: 100%;
	font-size: 1.1rem;
}

header .container {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

header nav li {
	position: relative;
	display: inline-block;
	padding: 16px 8px;
	text-transform: uppercase;
	letter-spacing: 2px;
}

header nav li::after {
	content: "";
	position: absolute;
	background-color: var(--second-color);
	height: 1px;
	width: 0%;
	bottom: 0px;
	left: 50%;
	transform: translateX(-50%);
	transition: 0.7s ease-in-out width;

}

header nav li:hover::after {
	width: 100%;
}

header nav li:not(:last-child) {
	margin-right: 24px;
}

header .social__links {
	z-index: 1;
}

header .social__links > a:not(:first-child) {
	margin-left: 8px;
}

@media (max-width: 560px) {
	header .container {
		justify-content: center;
		font-size: 1rem;
	}

	header .social__links {
		display: none;
	}

	header nav li:not(:last-child) {
		margin-right: 16px;
	}
}

@media (max-width: 390px) {
	header {
		font-size: 0.8rem;
	}
} 

/*End Header*/

/*Start Main Home*/

main.home {
	height: calc(100vh - 58.39px);
	text-transform: uppercase;
	font-size: 16px;
	text-align: left;
}

@media (max-width: 560px) {
	main.home {
		height: calc(100vh - 56px);
		font-size: 12px;
		text-align: center;
	}
}

@media (max-width: 390px) {
	main.home {
		font-size: 10px;
	}
}

main.home .container {
	height: 80%;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	gap: 24px;
}

@media (max-width:  560px) {
	main.home .container {
		align-items: center;
	}
}

main.home h1 {
	font-size: 3.5em;
	letter-spacing: 20px;
    line-height: calc(100% + 15px);
}

main.home h1 span {
	display: block;
	font-weight: 700;
}

main.home p {
	font-size: 1.1em;
	letter-spacing: 1.5em;
	margin-top: 5px;
}

main.home a {
	font-size: 1.1em;
	text-transform: uppercase;
	letter-spacing: 4px;
	border: 1px var(--second-color) solid;
	background-color: transparent;
	padding: 8px 32px;
	transition: 0.7s ease-in-out all;
}

main.home a:hover {
	background-color: var(--second-color);
	color: var(--main-color);
}

main.home .switch__dots {
	position: absolute;
	bottom: 0px;
	right: 0px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 4px;
	transform: translateY(200%);
	transition: 0.7s ease-in-out background-color;
}

@media (max-width:  560px) {
	main.home .switch__dots {
		left: 50%;
		transform: translateX(-50%);
	}
}

main.home .switch__dots > span {
	height: 15px;
	width: 15px;
	border-radius: 50%;
	background-color: transparent;
	border: var(--second-color) 1px solid; 
}

@keyframes dotAnimationIn {
	0% {
		background-color: transparent;
	}

	100% {
		background-color: var(--second-color);
	}
}

main.home .switch__dots > .active {
	background-color: var(--second-color);
	animation: dotAnimationIn 0.5s ease-in-out;
}

/*End Main Home*/

/*Start Main About*/

main.about {
	height: calc(100vh - 58.39px);
	font-size: 16px;
}

@media (max-width: 560px) {
	main.about {
		height: calc(100vh - 56px);
		font-size: 12px;
	}
}

main.about .container {
	height: calc(100% - 58.39px);
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 32px;
	position: relative;
}

main.about .container::after {
	content: "Makeup Artist";
	text-transform: uppercase;
	position: absolute;
	right: 0px;
	top: 50%;
	transform: translateY(-50%);
	color: var(--third-color);
	writing-mode: vertical-lr;
	text-orientation: upright;
	letter-spacing: 5px;
}

@media (max-width: 560px) {
	main.about .container::after {
		top: auto;
		right: auto;
		bottom: 0px;
		left: 50%;
		transform: translateX(-50%);
		writing-mode: horizontal-tb;
	}
}

@media (max-width: 560px) {
	main.about .container {
		height: calc(100% - 56px);
		flex-direction: column;
	}
}

main.about .container > .text__container {
	width: 50%;
	max-width: 600px;
	min-width: 300px;
	display: flex;
	flex-direction: column;
	gap: 8px;
}

@media (max-width: 560px) {
	main.about .container > .text__container {
		text-align: center;
	}
}

main.about .container > .text__container > h1 {
	font-weight: 600;
	font-size: 2.1em;
} 

main.about .container > .text__container > p {
	text-transform: capitalize;
	font-size: 1.1em;
}

main.about .container > .text__container > .add__info {
	display: flex;
	gap: 32px;
}

@media (max-width: 560px) {
	main.about .container > .text__container > .add__info {
		justify-content: center;
	}
} 

main.about .container > .about__img__container {
	width: 200px;
	height: 300px;
	background: url("../images/about-img.jpg") no-repeat top center;
	background-size: cover;
}

@media (max-width: 560px) {
	main.about .container > .about__img__container {
		width: 100%;
		height: 200px;
	}
} 

/*End Main About*/